@charset "UTF-8";

$primary-color: #5230ff;
$second-color: #7552f4;
$third-color: #a897ff;
$fourth-color: #f8f7ff;
$point-color: #ff6600;
$error-color: #ff4444;
$border-color: #d7d7d7;
$hover-color: #281394;